    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat-Light'), url('../fonts/montserrat-light.woff2') format('woff2'), url('../fonts/montserrat-light.woff') format('woff');
        font-display: swap;
        font-weight: 200;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat-Regular'), url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff');
        font-display: swap;
        font-weight: 400;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat-Medium'), url('../fonts/montserrat-medium.woff2') format('woff2'), url('../fonts/montserrat-medium.woff') format('woff');
        font-display: swap;
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat-Bold'), url('../fonts/montserrat-bold.woff2') format('woff2'), url('../fonts/montserrat-bold.woff') format('woff');
        font-display: swap;
        font-weight: 700;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat-SemiBold'), url('../fonts/montserrat-semibold.woff2') format('woff2'), url('../fonts/montserrat-semibold.woff') format('woff');
        font-display: swap;
        font-weight: 600;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat-ExtraBold'), url('../fonts/montserrat-extrabold.woff2') format('woff2'), url('../fonts/montserrat-extrabold.woff') format('woff');
        font-display: swap;
        font-weight: 800;
        font-style: normal;
    }
    
    html {
        box-sizing: border-box;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: inherit;
    }
    
    body {
        background-color: #fff;
    }
    
    a {
        color: inherit;
        text-decoration: none;
    }
    
    img {
        max-width: 100%;
    }
    
    a,
    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    ul,
    li,
    button {
        margin: 0;
        padding: 0;
    }
    
    input {
        border: none;
        border-bottom: 1px solid #E9E9E9;
    }
    
    select {
        border: none;
    }
    
    body {
        font-family: 'Montserrat', sans-serif;
    }
    /*Glob*/
    
    .title-h2 {
        color: #000;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
    .title-h3 {
        color: #000;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .text-paragraph {
        color: #000;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 200% */
    }
    
    .list-reset {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .btn-reset {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
    }
    
    .flex {
        display: flex;
        flex-wrap: wrap;
    }
    
    .container {
        margin: 0 auto;
        padding: 0;
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1870px;
    }
    /*Header*/
    
    .header {
        margin-bottom: 50px;
        border-radius: 0px 0px 32px 32px;
        background: #FFF;
        box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
    }
    
    .header__content {
        flex-direction: row;
        align-items: center;
        min-height: 100px;
    }
    
    .header__images {
        flex-direction: row;
        gap: 12px;
        max-width: 231px;
        height: 72px;
        margin-right: auto;
        cursor: pointer;
    }
    
    .header__list {
        flex-direction: row;
        gap: 86px;
        margin-right: 80px;
        align-items: center;
    }
    
    .header__item {}
    
    .header__link {
        color: #000;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        transition: color 0.3s ease-in-out, outline 0.3s ease-in-out, border 0.3s ease-in-out;
    }
    
    .header__link:focus-visible {
        outline: 0;
        outline: 2px solid #F90;
        outline-offset: 5px;
    }
    
    .header__link:hover {
        outline: 0;
        border: 0;
        border-bottom: 2px solid #f90;
    }
    
    .header__link:active {
        color: #E1670E;
        border-bottom: 2px solid #E1670E;
    }
    
    .header__btn {
        border: 0;
        background-color: transparent;
        transition: color 0.3s ease-in-out, outline 0.3s ease-in-out, border 0.3s ease-in-out;
    }
    
    .header__search {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    
    .header__btn:focus-visible {
        outline: 0;
        outline: 2px solid #F90;
    }
    
    .header__btn:hover path,
    .header__btn:hover rect {
        stroke: #f90;
    }
    
    .header__btn:active {
        outline: 0;
        border: none;
    }
    
    .header__btn:active path,
    .header__btn:active rect {
        outline: 0;
        border: none;
        color: 0;
        stroke: black;
    }
    /*Hero*/
    
    .hero {
        margin-bottom: 54px;
    }
    
    .hero__content {
        padding-top: 100px;
        padding-bottom: 100px;
        padding-left: 80px;
        border-radius: 32px;
        background-image: url(../img/hero-back.png);
        background-size: cover;
    }
    
    .hero__title {
        max-width: 837px;
        margin-bottom: 24px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 70px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 0.1px;
    }
    
    .hero__descr {
        max-width: 790px;
        margin-bottom: 88px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: inherit;
    }
    
    .hero__btn {
        display: flex;
        padding: 25px 39px;
        justify-content: center;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 23px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none;
        border-radius: 16px;
        background: #F90;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .hero__btn:focus-visible,
    .hero__btn:hover {
        outline: 0;
        background-color: #FFB84D;
    }
    
    .hero__btn:active {
        background-color: #E1670E;
    }
    /*About*/
    
    .about {
        margin-bottom: 100px;
    }
    
    .about__content {
        display: flex;
        flex-direction: column;
    }
    
    .about__h2 {
        margin-bottom: 20px;
    }
    
    .about__top {
        max-width: 1235px;
        margin-bottom: 50px;
    }
    
    .about__descr {
        color: #000;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 200% */
    }
    
    .about-bottom {
        display: flex;
        flex-direction: row;
        gap: 32px;
        min-height: 622px;
    }
    
    .about__item {
        display: flex;
        flex-direction: row;
    }
    
    .about__left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: calc((100% - 32px) / 2);
        /* padding-top: 426px; */
        background-image: url(../img/about-left.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .about__left-item {
        display: flex;
        align-items: center;
        gap: 160px;
        padding: 50px;
        background-color: rgba(0, 0, 0, 0.50);
        background-repeat: no-repeat;
        border-radius: 29px;
    }
    
    .about__left-descr {
        max-width: 433px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        /* 200% */
    }
    
    .about__link {
        display: inline-flex;
        padding: 19px 38px;
        align-items: center;
        border-radius: 16px;
        border: 3px solid #F90;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .about__link:focus-visible,
    .about__link:hover {
        outline: 0;
        background-color: #F90;
    }
    
    .about__link:active {
        background-color: #E1670E;
    }
    
    .about__right {
        display: flex;
        flex-direction: column;
        gap: 32px;
        width: calc((100% - 32px) / 2);
    }
    
    .about__right-item {
        display: flex;
        gap: 50px;
        max-width: 870px;
        padding: 65px 118px 65px 60px;
        border: 1px solid #cacaca;
        border-radius: 29px;
    }
    
    .about__right-text1 {
        padding-left: 240px;
        background-image: url(../img/about-right-top.svg);
        background-repeat: no-repeat;
        background-position: left top;
    }
    
    .about__right-text2 {
        padding-left: 240px;
        background-image: url(../img/about-right-bottom.svg);
        background-repeat: no-repeat;
        background-position: left top;
    }
    
    .about__h3 {
        max-width: 452px;
        margin-bottom: 7px;
    }
    
    .about__right-descr {
        max-width: 450px;
    }
    /*Stages*/
    
    .stages {
        margin-bottom: 100px;
    }
    
    .stages__content {
        display: flex;
        gap: 142px;
    }
    
    .stages__h2 {
        margin-bottom: 32px;
    }
    
    .stages__block {
        display: flex;
        flex-direction: column;
    }
    
    .stages__left {}
    
    .stages__h3 {
        line-height: 32px;
        /* 133.333% */
        margin-bottom: 9.5px;
    }
    
    .stages__descr {
        max-width: 758px;
        margin-bottom: 18px;
        letter-spacing: 0.21px;
        word-spacing: 0.000001px;
    }
    
    .stages__links {
        display: flex;
        gap: 32px;
        height: 60px;
    }
    
    .stages__link1 {
        display: flex;
        padding: 19px 38px;
        align-items: center;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border-radius: 16px;
        background: #F90;
        transition: background-color 0.3s ease-in-out;
    }
    
    .stages__link1:focus-visible,
    .stages__link1:hover {
        outline: 0;
        background-color: #FFB84D;
    }
    
    .stages__link1:active {
        background-color: #E1670E;
    }
    
    .stages__link2 {
        display: flex;
        padding: 19px 38px;
        align-items: center;
        border-radius: 16px;
        border: 1px solid #000;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    .stages__link2:focus-visible,
    .stages__link2:hover {
        outline: 0;
        background-color: #666;
        color: #fff;
    }
    
    .stages__link2:active {
        background-color: #000;
        color: #fff;
    }
    
    .stages__right {
        position: relative;
        width: 49%;
        height: 460px;
        background-image: url(../img/stages-back.png);
        background-repeat: no-repeat;
        top: 10px;
    }
    /*Questions*/
    
    .questions {
        margin-bottom: 100px;
    }
    
    .questions__content {
        display: flex;
        flex-direction: column;
    }
    
    .questions__h2 {
        margin-bottom: 32px;
    }
    
    .questions__list {
        flex-direction: row;
        gap: 31.2px;
    }
    
    .questions__item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 64px 58px;
        border-radius: 32px;
        border: 1px solid #CACACA;
        width: calc((100% - 32px*2) / 3);
    }
    
    .questions__h3 {
        max-width: 412px;
    }
    
    .questions__descr {
        max-width: 450px;
        line-height: 32px;
        /* 200% */
    }
    /*Footer*/
    
    .footer {
        background-color: #000;
        padding: 50px 75px;
    }
    
    .footer__content {
        display: flex;
        justify-content: space-between;
        max-width: 1770px;
        padding: 0;
    }
    
    .footer__info {
        width: 22%;
        /* margin-right: 349px; */
    }
    
    .footer__logos {
        display: flex;
        gap: 12px;
        max-width: 174px;
        height: 72px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    
    .footer__nav {
        margin-bottom: 90px;
    }
    
    .footer__list {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer__item {
        color: #CACACA;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 36px;
        /* 200% */
    }
    
    .footer__link {
        transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
        cursor: pointer;
    }
    
    .footer__link:focus {
        outline: 0;
        outline: 1px solid #FF9900;
        outline-offset: 5px;
    }
    
    .footer__link:hover {
        color: #FF9900;
    }
    
    .footer__link:active {
        color: #E1670E;
    }
    
    .footer__icons {
        display: inline-block;
        cursor: pointer;
    }
    
    .footer__icons path {
        transition: outline 0.3s ease-in-out, fill 0.3s ease-in-out;
    }
    
    .footer__icons:focus svg {
        outline: 0;
        outline: 1px solid #FF9900;
        outline-offset: 5px;
    }
    
    .footer__icons:hover path {
        fill: #FF9900;
    }
    
    .footer__icons:active path {
        fill: #E1670E;
    }
    
    .footer__icons-blog {
        display: flex;
        gap: 15px;
    }
    
    .footer__form {
        /* margin-right: 236px; */
        width: 33.4%;
    }
    
    .footer__h2 {
        color: #CACACA;
        margin-bottom: 25px;
    }
    
    .footer__contacts {
        display: flex;
        flex-direction: column;
        gap: 25px;
        max-width: 570px;
        margin-bottom: 32px;
    }
    
    .footer__input {
        display: flex;
        align-items: center;
        padding-left: 24px;
        /* width: 570px; */
        height: 60px;
        background-color: #414141;
        border-radius: 16px;
        line-height: 32px;
        /* 200% */
        color: #cacaca;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        cursor: pointer;
        outline: 0;
        border: 0;
    }
    
    .footer__textarea {
        /* width: 570px; */
        height: 150px;
        padding-top: 14px;
        padding-left: 24px;
        background-color: #414141;
        border-radius: 16px;
        line-height: 32px;
        /* 200% */
        color: #CACACA;
        transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
        cursor: pointer;
        outline: 0;
        border: 0;
        resize: none;
    }
    
    .footer__input:focus-visible,
    .footer__textarea:focus-visible,
    .footer__input:hover,
    .footer__textarea:hover,
    .footer__input:active,
    .footer__textarea:active {
        background-color: #666666;
    }
    
    .footer__input:active,
    .footer__textarea:active {
        color: #fff;
    }
    
    .footer__check {
        display: flex;
        gap: 20px;
        align-items: center;
        max-width: 570px;
    }
    
    .footer__check-btn {
        display: flex;
        flex-wrap: nowrap;
        padding: 19px 51px;
        border-radius: 16px;
        background: #F90;
        color: #FFF;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        transition: background-color 0.3s ease-in-out;
        cursor: pointer;
        border: 0;
    }
    
    .footer__check-btn:focus-visible,
    .footer__check-btn:hover {
        outline: 0;
        background-color: #FFB84D;
    }
    
    .footer__check-btn:active {
        background-color: #E1670E;
    }
    
    .footer__check-input {
        position: absolute;
        -webkit-appearance: none;
        appearance: none;
    }
    
    .footer__check-input:checked {
        background-color: cadetblue;
    }
    
    .check_box {
        display: inline-block;
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        background-color: #000;
        border: 1px solid #CACACA;
    }
    
    .footer__check-input:checked+.check_box {
        background-image: url(../img/footer-check-active.svg);
    }
    
    .footer__check-approval {
        color: #CACACA;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 200% */
    }
    
    .footer__descr {
        display: flex;
        align-items: center;
        /* width: 363px; */
        width: 20.6%;
    }
    
    .footer__descr-text {
        color: #CACACA;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 200% */
    }